h1{
  background-color: mediumorchid;
  color: aliceblue;
  width:100%;
  border:2px solid brown;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.images{
  width:90%;
  height: auto;
  margin-top: 5px;
  margin-left:50px;
  border:2px solid orchid;
  animation-name: square;
  background-color: bisque;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 10s;
  
  }
  /* .images:hover{
    background-color: aqua;
    width:68.5%;
    } */
    @keyframes square{
      50%{
        background-color: darkmagenta;
        transform: rotateX(180deg); 
      
      }
      100%{
        background-color:goldenrod;
        transform:rotateY(-180deg);
        animation-fill-mode: none;
      

      }
    }

button:hover{
  color:aqua;
  cursor:pointer;
}