

h1{
    background-color:black;
    color: aliceblue;
    text-align: center;

}
q{
    height:10px;
    width:50px;
    font-size: large;
    border: 5px solid brown;
    background-color: greenyellow;
    color:red;
}
.bt{
    height:40px;
    width:200px;
    border-radius:5px solid orchid;
    color:blue;
    text-decoration: underline blue;
    background-color:orangered;
    margin-left: 30px;
}
.bt:hover{
    color: aqua;
    cursor: pointer;
}table,th,tr,td{
    background-color:aquamarine;
    color:black;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}