*{
    margin:0;
    box-sizing: border-box;
}
h1{
    height:40px;
    width:100%;
    text-align: center;
    background-color:orange;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.box2{
    height:220px;
    width:705px;
    border: 2px solid brown;
    background-color: azure;
    margin-top: 20px;
    margin-left: 200px;
    background-color: darkcyan;
   
}
table,th,tr,td{
    background-color:aquamarine;
    color:black;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    
 }
 .bgimg{
    background-color:darkcyan;
 }
 .container{
    display: flex;
    column-gap:30px;
    background-color:chartreuse;
    
    }
 .imbox1{
    width:300px;
    height:200px;
    border:2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(./Projimages/Vegetablebiryani.jpg);
    background-size:300px,200px;
    box-shadow: 10px 10px 10px whitesmoke;
    
    }
    
 .imbox2{
    width:300px;
    height:200px;
    border:2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
   background-image: url(./Projimages/chicken\ briyane.webp);
    background-size:300px,200px;
    box-shadow: 10px 10px 10px whitesmoke;
    
    }
 .imbox3{
    width:300px;
    height:200px;
    border:2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(./Projimages/Vegfriedrice.webp);
    background-size:300px,200px;
    box-shadow: 10px 10px 10px whitesmoke;
    
 }
 .imbox4{
   width:300px;
   height:200px;
   border:2px solid black;
   margin-top: 10px;
   margin-left: 10px;
   background-image: url(./Projimages/chilli\ paneer\ fried\ rice.jpg);
   background-size:300px,200px;
   box-shadow: 10px 10px 10px whitesmoke;
   }
.imbox5{
   width:150px;
   height:200px;
   border:2px solid black;
   margin-top: 10px;
   background-image: url(./Projimages/applejuice.jpg);
   box-shadow: 10px 10px 10px whitesmoke;
}
.Ender{
   background-color:brown;
   color: azure;
   text-align: center;

}
.Ender:hover{
   color:aqua;
   cursor:pointer;
}
.container2{
   background-color:darkcyan;
}
